@import url(./__lang-link/header__lang-link.css);
@import url(./__list/header__list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  margin: 34px 148px 0 148px;
  max-width: 984px;
  max-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 46px 24px 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    height: 36px;
    margin:20px 16px 0 16px;
  }
}