.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(42, 44, 47, 0.3);
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, 0.8);
}