.place__website {
  margin-bottom: 48px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 484px;
}

@media screen and (max-width: 715px) {
  .place__website {
    display: none;
  }
}